/mhsat_01_01/unsupervised_model_weights/unsupervised_model_weights/unsupervised_model_best.safetensors
/mhsat_01_01/unsupervised_model_weights/unsupervised_model_weights/
/mhsat_01_01/supervised_qa_model_files/
/.venv/
/mhsat_01_01/unsupervised_model_weights/
/.idea/
/mhsat_01_01/__pycache__/__init__.cpython-311.pyc
/mhsat_01_01/__pycache__/mhsat_algorithms_for_custom_transformer_model_01_01_01.cpython-311.pyc
*.whl
*.bin
*.safetensors
/mh_sat_01_01/__pycache__/
/mh_sat_01_01/supervised_model_weights/
/mh_sat_01_01/unsupervised_model_weights/
/mh_sat_01_01/onnx_model_distribution_format/
*.data
/mh_sat_01_01/hugging_face_model_distribution_format/
/custom_tokenizer_files/
*.txt
*.json
/bin_dataset/
/mh_sa_custom_transformer_01_01/__pycache__/
/mh_sa_custom_transformer_01_01/supervised_model_weights/
/mh_sa_custom_transformer_01_01/unsupervised_model_weights/
/mh_sa_custom_transformer_01_01/custom_tokenizer_files/
/mh_sa_custom_transformer_01_01/bin_dataset/
!requirements.txt